/*------------------- Estilos do PDF ---------------------*/
.page-custom-pdf {
    text-align: center;
    font-weight: bold;
}

.table-custom-pdf {
    width: 100%;
    text-align: left;
}

.titulos-pdf {
    font-weight: bold;
    padding-bottom: 5px;
}

.dados-pdf {
    padding-bottom: 15px;
    vertical-align: top;
    text-align: justify;
}

/*---------------Barra de navegação----------------------*/
.navbar-inverse {
    padding: 10px 0px;
    border-bottom: 2px solid black;
    background: rgba(0,0,0,0.8);
}

#navbar {
    text-align: center;
}

#navbar > h4 {
    color: white;
    text-shadow: 2px 2px #000;
    font-size: 15px;
}

.navbar-nav>li>h4 {
    font-size: 17px;
}

.navbar-inverse .navbar-nav>li>a {
    font-size: 15px;
    color: #FFF;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #F4F003;
    /*font-size: 18px;*/
}

/*----------------------------------------------------*/
/*-------------------Conteúdo da página---------------*/
.modal {
     overflow-y: auto;
}

.page-content {
    padding-top: 100px;
}

/* Cabeçalho das páginas */
.page-header {
    text-align: center;
    border-bottom: 1px solid black;
}

/* Painel login */
.panel-body {
    padding-top: 0px;
    border: 1px solid black;
}

/*Div dos botões login*/
#actions > div {
    text-align: center;
    margin-bottom: 10px;
}

#actions > div > button {
    padding: 8px 30px;
    border: 1px solid black;
    margin-right: 2px;
    margin-left: 2px;
    margin-bottom: 5px;
}

#actions > div > a {
    padding: 8px 30px;
    border: 1px solid black;
    margin-right: 2px;
    margin-left: 2px;
    margin-bottom: 5px;
}

#btn-logar:hover {
    background: #250C82;
}

.btn-reset:hover {
    background: #DD3535;
    color: white;
}

.btn-reset:focused {
    background: #DD3535;
    color: white;
}

/* Barra Lateral */
#sidebar-wrapper {
    top: 70px;
    bottom: 0;
    z-index: 1000; /*Posicao frontal*/
    position: fixed;
    left: 220px;
    width: 0;
    /*height: 100%;*/
    margin-left: -220px;
    border-right: 3px solid black;
    overflow-y: auto;
    overflow-x: hidden;
    background: rgba(0,0,0,0.8);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#page-content-wrapper {
    padding-left: 15px;
    padding-top: 70px;
    padding-right: 0;
}

#mostra-menu {
    display: inline;
    position: absolute;
    left: 5px;
    top: 73px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    border: 1px solid black;
}

#mostra-menu:hover {
    background: black;
}

#fecha-menu {
    display: inline;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 220px;
    margin: 0;
    padding: 0;
    list-style: none;
    /*padding-top: 67px;*/
    /*padding-bottom: 20px;*/
    color: white;
}

.topicos {
    padding-left: 10px;
    border: 1px solid black;
    color: white;
    background: black;
}

.sidebar-nav li {
    letter-spacing: 1.5px;
    font-size: 12px;
    text-indent: -10px;
    line-height: 40px;
    border-bottom: 2px solid black;
    text-align: center;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: white;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: white;
    background: #250C82;
    font-size: 13px;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.selected {
    background: rgba(255,0,0,0.6);
}

.selected:hover {
    text-decoration: none;
    color: white;
    background: #250C82;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  font-size: 15px;
}

.hr-text:before {
    content: '';
    background: black;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
}

.hr-text:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    padding: 0 .5em;
    line-height: 1.5em;
    background: white;
}

table {
    text-align: center;
}

.table-custom {
    background: #250C82;
    color: white;
    text-shadow: 2px 2px #000;
}

.table-custom > tr > th {
    text-align: center;
}

.modal-mensagem-class {
    width: 95%;
}

/* xs < 768 */
@media screen and (max-width: 767px) {

    /*Título da barra de navegacao*/
    #navbar > h4 {
        font-size: 10px;
    }

    /*Botão dropdown navbar*/
    #btn_menu {
        margin-left: 2px;
        border: 1px solid white;
    }

    #btn_menu:hover {
        background: black;
    }

    /*Título do conteudo da pagina*/
    .page-header{
        font-size: 16px;
    }

    /*Botão adicionar novo*/
    .btn-novo {
        margin-top: -10px;
    }

    /*Lista do menu dropdown*/
    .navbar_menu > ul {
        width: 100%;
    }

    /*Links do menu dropdown*/
    .navbar-inverse .navbar-nav>li>a {
        font-size: 16px;
        width: 20%;
        left: 40%;
    }

    /*Hover dos links do menu dropdown*/
    .navbar-inverse .navbar-nav>li>a:hover {
        font-size: 18px;
    }

    /*Coluna da pesquisa*/
    .coluna-pesquisa {
        margin-bottom: 10px;
    }

    #select_pesquisa, #select_ordem, #tag_pesquisa, .ordenacao>label {
        font-size: 12px;
    }

    #select_pesquisa, #select_ordem {
         border: 3px solid gray;
    }

}

@media screen and (min-width: 600px) {

    /*Título da barra de navegacao*/
    #navbar > h4 {
        font-size: 12px;
    }

    /*Título do conteudo da pagina*/
    .page-header{
        font-size: 20px;
    }
}

/* sm >= 768 */
@media screen and (min-width: 768px) {

    /*Título da barra de navegacao*/
    #navbar > h4 {
        font-size: 12px;
    }

    /*Botão adicionar novo*/
    .btn-novo {
        margin-top: -5px;
    }

    /*H4 do menu*/
    .navbar-inverse .navbar-nav>li>h4 {
        display: none;
    }

    /*Links do menu*/
    .navbar-inverse .navbar-nav>li>a {
        font-size: 12px;
    }

    /*Hover dos links do menu*/
    .navbar-inverse .navbar-nav>li>a:hover {
        font-size: 14px;
    }

    /*Título do conteudo da pagina*/
    .page-header{
        font-size: 22px;
    }

    /*Coluna da pesquisa*/
    .coluna-pesquisa {
        margin-bottom: 10px;
    }

    #select_pesquisa, #select_ordem {
         border: 2px solid gray;
    }

}

/* lg > 992 */
@media screen and (min-width: 992px) {

    /*Título da barra de navegacao*/
    #navbar > h4 {
        font-size: 15px;
    }

    /*Botão adicionar novo*/
    .btn-novo {
        margin-top: -5px;
    }

    /*H4 do menu*/
    .navbar-inverse .navbar-nav>li>h4 {
        display: block;
        font-size: 13px;
    }

    /*Links do menu*/
    .navbar-inverse .navbar-nav>li>a {
        font-size: 12px;
    }

    /*Hover dos links do menu*/
    .navbar-inverse .navbar-nav>li>a:hover {
        font-size: 14px;
    }

    /*Título do conteudo da pagina*/
    .page-header{
        font-size: 22px;
    }

    .coluna-ordem {
        white-space: nowrap;
        margin-right: 30%;
    }

    #sidebar-wrapper { /* Mostrar side-bar */
        width: 220px;
    }

    #page-content-wrapper {
        margin-left: 230px;
        padding-left: 10px;
        padding-right: 10px;
        position: relative;
        margin-right: 0;
    }

    #mostra-menu {
        display: none;
    }

    #fecha-menu {
        display: none;
    }

    #actions > div > button {
        padding: 8px 30px;
        margin-right: 5px;
        margin-left: 5px;
        margin-bottom: 5px;
    }

    #actions > div > a {
        padding: 8px 30px;
        margin-right: 5px;
        margin-left: 5px;
        margin-bottom: 5px;
    }

    .modal-mensagem-class {
        width: 80%;
    }

    #ordem {
        font-size: 10px;
    }

}

/* lg >= 1200 */
@media screen and (min-width: 1200px) {

    /*Título da barra de navegacao*/
    #navbar > h4 {
        font-size: 19px;
    }

    /*Botão adicionar novo*/
    .btn-novo {
        margin-top: -5px;
    }

    /*H4 do menu*/
    .navbar-inverse .navbar-nav>li>h4 {
        font-size: 16px;
    }

    /*Links do menu*/
    .navbar-inverse .navbar-nav>li>a {
        font-size: 15px;
    }

    /*Hover dos links do menu*/
    .navbar-inverse .navbar-nav>li>a:hover {
        font-size: 17px;
    }

    /*Título do conteudo da pagina*/
    .page-header{
        font-size: 24px;
    }

    /*Coluna da pesquisa*/
    .coluna-pesquisa {
        margin-bottom: 0;
    }

    .coluna-ordem {
        white-space: nowrap;
        margin-right: 0px;
    }

    #select_ordem, .ordenacao>label {
        font-size: 12px;
    }

    #select_ordem {
        border: 3px solid gray;
    }

}

@media screen and (min-width: 1296px) {

    /* Barra de navegação */
    #navbar > h4 {
        font-size: 20px;
    }

    .navbar-inverse .navbar-nav>li>h4 {
        font-size: 18px;
    }

    .navbar-inverse .navbar-nav>li>a {
        font-size: 17px;
    }

    .navbar-inverse .navbar-nav>li>a:hover {
        font-size: 18px;
    }

    #select_ordem, .ordenacao>label, #ordem {
        font-size: 14px;
    }

    #select_ordem {
        border: 2px solid gray;
    }

}